@page "/changepassword"

<h2>Change Password</h2>

<div class="row">
    <EditForm Model="@user">
        <div class="form-group">
            <label for="name">User Name :</label>
            <input HtmlTag="input" type="text" id="UserName" class="form-control" @bind-value="user.Name" readonly />
        </div>
        <div class="form-group">
            <label for="password">Old Password :</label>
            <input HtmlTag="input" type="password" id="Password" class="form-control" @bind-value="user.OldPassword"  />
        </div>
        <div class="form-group">
            <label for="password">New Password :</label>
            <input HtmlTag="input" type="password" id="Password" class="form-control" @bind-value="user.Password" />
        </div>
        <div class="form-group">
            <label for="password">Confirm Password :</label>
            <input HtmlTag="input" type="password" id="Password" class="form-control" @bind-value="user.ConfirmPassword" />
        </div>
    </EditForm>
    @if (alerMessage != string.Empty)
    {
        <p>
            <h5>@alerMessage</h5>
        </p>

        <br />
    }
    <br />
    <div class="row row-cols-auto">
        <div class="col">
            <button class="btn btn-info" @onclick="@(async () => Create(user))"> Save </button>
        </div>
        <div class="col">
            <button class="btn btn-secondary" @onclick="@(() => Clear())"> Clear </button>
        </div>
    </div>
</div>

