@page "/userdetails"
@using Expensemanager.Data


<div class="card">
    <div class="card-header"> User Management</div>

    <div class="card-body">
       @* <h5 class="card-title">User Management</h5>*@
        <div class="row">
            <EditForm Model="@user">
                <div class="form-group">
                    <label for="name">User Name :</label>
                    <input HtmlTag="input" type="text" id="UserName" class="form-control" @bind-value="user.Name" />
                </div>
                <div class="form-group">
                    <label for="password">Password :</label>
                    <input HtmlTag="input" type="password" id="Password" class="form-control" @bind-value="user.Password" />
                </div>
            </EditForm>
        </div>

        <br />
        <br />
        <div class="row row-cols-auto">
            <div class="col">
                <button class="btn btn-info" @onclick="@(async () => await Create(user))"> Save </button>
            </div>
            <div class="col">
                <button class="btn btn-secondary" @onclick="@(() => Clear())"> Clear </button>
            </div>
            <div class="col">
                <button class="btn btn-danger" @onclick="@(() => Delete())"> Delete </button>
            </div>
        </div>


        <br />
        <br />
        <div class="row">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Password</td>
                    </tr>
                </thead>
                <tbody>
                    @if (_userDetails.Any())
                    {
                        <Virtualize Items="_userDetails" Context="x" OverscanCount="50" SpacerElement="tr">
                            <tr @onclick="(() => SetForUpdate(x))">
                                <td>
                                    <input HtmlTag="input" type="text" id="UserName" class="form-control" @bind-value="x.Name" readonly />
                                </td>
                                <td>
                                    <input HtmlTag="input" type="password" id="UserName" class="form-control" @bind-value="x.Password" readonly />
                                </td>
                            </tr>
                        </Virtualize>

                    }
                    else
                    {
                        <tr><td colspan="6"><strong>No products available</strong></td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
   <Confirm ConfirmationChanged="ConfirmDelete_Click" @ref="Deleteconfirmation" Dialog=@dialog ButtonText=@ButtonText></Confirm>
